:root {
  --background: #87cefa;
  --card-bg: #ffecdb;
  --text-color: #4b3f3f;
  --accent: #f4a261;
  --accent-hover: #eb700c;
  --link-bg: #ffd6d6;
  --link-hover: #ffb3b3;

  --min-card-width: 18rem;
  --max-card-width: 24rem;
  --card-width: clamp(var(--min-card-width), 90vw, var(--max-card-width));
  --min-card-padding: 1.5rem;
  --max-card-padding: 2.5rem;
  --card-padding: clamp(var(--min-card-padding), 1.148rem + 1.502vw, var(--max-card-padding));
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  background-image: linear-gradient(to right bottom, rgba(160, 216, 239, 0.8), rgba(135, 206, 250, 0.8)),
    url(./assets/images/background-left.webp), url(./assets/images/background-right.webp);
  background-position: center, left center, right center;
  background-repeat: no-repeat;
  background-size: 100% 100%, 50% 100%, 50% 100%;
}

address {
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 var(--card-width);
  padding: var(--card-padding);
  font-size: 0.875rem;
  color: var(--text-color);
  background-color: var(--card-bg);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
}

.card__avatar {
  width: 5.5rem;
  height: 5.5rem;
  margin-bottom: 1.5rem;
  border: 4px solid #f4a261;
  border-radius: 50%;
  box-sizing: content-box;
  transition: all 0.3s ease-in-out;
}

.card__avatar--hovered {
  transform: scale(1.5);
  box-shadow: 0 4px 10px rgba(244, 162, 97, 0.7);
}

.card__name {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.card__location {
  color: var(--accent);
  font-weight: 700;
}

.card__position {
  margin: 1.5rem 0;
  font-size: 1rem;
  font-weight: 500;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 1rem;
  list-style: none;
  font-size: 1rem;
  color: var(--text-color);
}

.social-links__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links__link:link,
.social-links__link:visited {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  padding: 1rem;
  color: inherit;
  background-color: var(--link-bg);
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-links__link:active {
  background-color: var(--link-hover);
}

.social-links__link:focus-visible {
  outline-offset: -2px;
  outline: 2px solid var(--link-hover);
}

.attribution {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 1.2rem;
}

.attribution__link:link,
.attribution__link:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

.attribution__link:hover,
.attribution__link:active {
  color: var(--accent);
}

.attribution__link:active {
  transform: translateY(2px);
}

.attribution__icon {
  width: 1.2rem;
  height: 1.2rem;
}

@media (max-width: 40em) {
  body {
    background-image: linear-gradient(to right bottom, rgba(160, 216, 239, 0.8), rgba(135, 206, 250, 0.8)),
      url(./assets/images/background-right.webp);
    background-position: bottom center;
    background-repeat: repeat;
    background-size: contain;
  }
}

@media (hover: hover) {
  .social-links__link:hover {
    background-color: var(--link-hover);
  }
}
